
/* TOP BAR */
.topbar {
  background-color: #eaf0f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  height: 70px;
  border-bottom: 2px solid #dcdcdc;
  position: sticky;
  top: 0;
  z-index: 10;
}

.topbar h2 {
  font-weight: 700;
  color: #000;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  background-color: #08112b;
  border-radius: 50%;
}

.logout-btn {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
